<div class="list-container">
  <div class="list-action">
    <div class="action-title">
      <button class="back-action" (click)="back()">
        <mat-icon> keyboard_backspace </mat-icon>
      </button>
      <h2>Manage Menu Items</h2>
    </div>
    <div class="action-btn">
      <button
        mat-stroked-button
        color="primary"
        (click)="openEditDialog('CREATE')"
        cdkFocusInitial
      >
        Create
      </button>
    </div>
  </div>
  <div
    class="list-content"
    *ngIf="!loading; else loader"
  >
    <table
    *ngIf="!loading && dataSource.length !== 0; else noContent"

      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="imagePath">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <span class="preview-img"
            ><img [src]="element.imagePath" [alt]="element.name"
          /></span>
        </td>
      </ng-container>

      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button class="table-action action-margin">
            <mat-icon
              (click)="openEditDialog('UPDATE', element)"
              aria-hidden="false"
              aria-label="Edit"
              fontIcon="edit"
            ></mat-icon>
          </button>
          <button class="table-action action-margin">
            <mat-icon
              (click)="openConfirmation(element)"
              aria-hidden="false"
              aria-label="Delete"
              fontIcon="delete"
            ></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<ng-template #noContent>
  <div class="h-full w-full spinner-container">
    <div class="flex-col-center">
      <h4>No Data Found!</h4>
      <button
        mat-stroked-button
        color="primary"
        (click)="openEditDialog('CREATE')"
        cdkFocusInitial
      >
        Create
      </button>
    </div>
  </div>
</ng-template>

<ng-template #loader>
  <div class="h-full w-full spinner-container">
    <mat-spinner></mat-spinner>
    <div><span>Loading...</span></div>
  </div>
</ng-template>
